$fontPrimary: "Roboto", sans-serif;
$fontSizeMain: 16px;
$fontSizeMiddle: 20px;
$fontSizeLarge: 30px;
$bgColorPrimary: #9da560;
$bgColorSecondary: #6f773a;
$colorHoverItem: #595f2e;
$colorWhite: #fff;
